{% extends 'base.html.twig' %}

{% block content %}
    <div class="clearfix" style="margin:15px 0">
        <div class="float-left" style="padding:5px;">
            <a class="btn btn-success" href="{{ path('parsing_update') }}">
                <span>RUN PARSE</span>
                {% if currentParsingState %}
                    <span>(Current parsing date: {{ currentParsingState.getCreatedAt.format('Y-m-d H:i:s') }})</span>
                {% endif %}
            </a>
        </div>
        <div class="float-right" style="padding:5px;">
            {% if currentParsingState %}
                <a class="btn btn-primary" href="{{ path('parsing_list') }}">HISTORY</a>
            {% endif %}
        </div>
    </div>
    {% if currentParsingState %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">Details</th>
                    <th class="text-center">Title</th>
                    <th class="text-center" colspan="2">Preview</th>
                </tr>
                </thead>
                <tbody>
                {% for post in currentParsingState.getPosts %}
                    <tr>
                        <td><a href="
                            {{ path('parsing_post_detail', {parsing: currentParsingState.getId, post: post.getId}) }}
                            ">{{ post.title }}</a></td>
                        <td>{{ post.getTitle }}</td>
                        <td>{{ post.getBody }}</td>
                        <td>
                            {% if post.getImagesToArray|first %}
                                <img height="100px" src="{{ post.getImagesToArray|first }}" alt="{{ post.getTitle }}"/>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <div style="background:#96d28d; text-align:center;">
        <a style="color:#fff;font-size: 2rem;" href="{{ path('parsing_update') }}">RUN PARSE</a>
    </div>
{% endblock %}